/* ----- QUESTIONS ----- */

/*HEADER*/
/* 
В хедере 2 строки, при этом в каждом из строк по 2 блока. Если бы было 2 div-а, где 
в 1м .lang-list & .auth, а во 2м .mainmenu & .logo & .meinmenu, тогда c помощью 
display:flex к родительским div-ам понятно как делать блоки по строкам. Сейчас не понятно.
*/

/*MAIN*/
/* 
Знаю как сделать слева картинку с display:flex, если:

<article class="article">
   <div class="article-img">
       <img src="gallery/pict4.png" alt="" width="95" height="65" />
   </div>
   <div class="article-content">
       <h2> bla bla example </h2>
       <p> bla bla example </h2>
   </div>
</article>
*/
  			

/* ----- Fonts ----- */


  
/* ----- Specification ----- */
  
body {
    background: #262d23 url(../images/bg_body.jpg) center center;
    font-family: 'Verdana', sans-serif;
    font-size: 11px;
    color: #d7cfc8;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 998px;
    margin: 0 auto;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
  margin: 0;
  font-size: 11px;
  padding: 0 35px 0 20px;
  color: #d7cfc8;
  line-height: 1.2em;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Georgia';
  letter-spacing: 1.2px;
  font-style: normal;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
  color: #fff68d;
  margin-bottom: 15px;
}


/* ----- HEADER ----- */

.header	{
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  display: flex;

}

header li a {
  color: #461500;
  font-family: 'Georgia', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

header .mainmenu {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}

header .menu-list {
  display: flex;
  background: #f3f2f1;
  border-radius: 5px;
  justify-content: space-between;
  height: 40px;
  width: 700px;
}

header .menu-item {
  padding: 12px 30px;
}

header .menu-item:hover {
  background: linear-gradient(to bottom, rgba(210,141,25,0), rgba(210,141,25,1));
  border-radius: 5px;

}

header .lang-list {
  display: absolute;
  right: 1%;
  top: 1%;
}

/* ----- MAIN ----- */

main {
  border-bottom: 1px solid rgba(210, 141, 25, 0.44);
}

.promo h1 {
  color: #ead4aa;
  margin-bottom: 20px
}

.promo h1:before {
  background: url('..images/bg_about.png');
}

.promo {
  background: #55290b url(../images/bg_promo.png) center center;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Georgia';
  font-style: italic;
  color: #f9da5a;
  line-height: 1.571;
  padding: 25px 42px 28px 42px;
  margin-bottom: 50px;
}

main .article {
  margin-bottom: 43px;
}


/* ----- FOOTER ----- */

footer {
  display: flex;
  padding: 40px 20px 20px 10px;
  justify-content: space-evenly;

}

footer .menu-list {
  display: flex;
}

footer .copyright {
  color: #f9da5a;
}

footer .menu-item:nth-child(-n+5):after {
  content: '|';
}

footer .menu-item a {
  color: #fff;
  padding: 0 5px;
  text-decoration: none;
}




/* ----- FINISH ----- */
