/* ----- Specification ----- */

body {
	background: #262d23 url(../images/bg_body.jpg) center center;
	font-family: 'Verdana', sans-serif;
	font-size: 11px;
	color: #d7cfc8;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 998px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 11px;
	color: #d7cfc8;
	line-height: 1.2em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: 'Georgia';
	letter-spacing: 1.2px;
	font-style: normal;
	margin-bottom: 18px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
	color: #fff68d;
	margin-bottom: 15px;
}

/* ----- HEADER ----- */

.wrapper {
	width: 1200px;
}

.header {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
	display: flex;
}

.header li a {
	color: #461500;
	font-size: 14px;
	text-decoration: none;
}

.header .logo {
	margin-left: 3em;
}

.header .mainmenu {
	display: flex;
	margin-top: auto;
	margin-left: auto;
}

.header .mainmenu {
	font-family: 'Georgia', sans-serif;
}

.header .menu-list {
	display: flex;
	background: #f3f2f1;
	border-radius: 5px;
	justify-content: space-between;
	height: 40px;
	width: 700px;
}

.header .menu-item {
	padding: 12px 30px;
}

.header .menu-item:hover {
	background: linear-gradient(to bottom, rgba(210, 141, 25, 0), rgba(210, 141, 25, 1));
	border-radius: 5px;
}

.header .lang-list {
	position: absolute;
	left: 1%;
	top: 15%;
}

.lang-list .lang-item {
	float: left;
	color: #e8d1a4;
	text-decoration: none;
	padding: 0 5px;	
}

.lang-list .lang-item a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-size: 11px;
}

.lang-list .lang-item:nth-child(-n+3) {
	border-right: 1px solid #fff;
}



.header .auth {
	position: absolute;
	right: 1%;
	top: 15%;
}

.header .auth a {
	text-decoration: none;
	font-size: 11px;
	margin-left: 2px;
}

.header .auth .auth-link a {
	border-bottom: 1px solid #fff;
	color: #fff
}

.header .auth .signin a {
	border-bottom: 1px solid #e8d1a4;
	color: #e8d1a4;
}

.header .auth .signin:after {
	content: '';
	width: 1px;
	height: 14px;
	background-color: #e8d1a4;
	display: inline-block;
	margin: auto 0 auto 7px;
	line-height: 10px;
}

/* ----- MAIN ----- */

.content {
	position: relative;
	margin-bottom: 60px;
}

.content .promo h1 {
	color: #ead4aa;
	line-height: normal;
}

.content .promo h1::before {
	content: '';
	width: 44px;
	height: 90px;
	background: url(../images/bg_about.png) no-repeat center center;
	display: block;
	float: left;
	margin: 10px 37px 10px 10px;
}

.content .promo {
	background: #55290b url(../images/bg_promo.png);
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Georgia';
	font-style: italic;
	color: #f9da5a;
	line-height: 22px;
	padding: 20px 40px 45px 40px;
	margin-bottom: 50px;
}

.content .article {
	margin-bottom: 40px;
	margin-left: 12em;
}

.content .article img {
	position: absolute;
	left: 1%;
}

/* ----- FOOTER ----- */

.footer {
	position: relative;
	display: flex;
	padding: 40px 20px 20px 10px;
	justify-content: space-between;
	width: 1200px;
    margin: 60 auto 0 auto;
}

.footer:before {
	position: absolute;
	content: '';
	height: 1px;
	width: 1200px;
	background-color: rgba(210, 141, 25, 0.44);
	top: 0%;
}

.footer .menu-list {
	display: flex;
	margin-right: 20px;
}

.footer .copyright {
	color: #f9da5a;
	margin-left: 20px;
}

.footer .menu-item:nth-child(-n+5)::after {
	content: '|';
}

.footer .menu-item a {
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
}




/* ----- FINISH ----- */
